/* Color pallete (dark to light):#21224F/#005491/#439799/#BCD8C8/#DFE884 */




body
{
	background-color: #21224F;
}

p
{
	font-size: 120%;
	color: #BCD8C8;
}

h3
{
	color:#DFE884;
	font-family:arial;
}

a:active
{
	color:#439799;
}
a:visited
{
	color:#439799;
}
a:hover
{
	color:#DFE884;
}

div.profile_img
{
	text-align:center;
}

div.welcome_msg
{
	text-align:center;
}


div.main_menu
{
	ul
	{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333333;
	}
	li
	{
		float: left;
	}
	a
	{
		display: block;
		color: white;
		text-align: center;
		padding: 16px;
		text-decoration: none;
	}
	a:hover
	{
		background-color: #111111;
	}
}
